*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/eclipse/
/data/
/tmp/
/.settings/
.classpath
.project
/modules/
/precompiled/
/target/
/test-output/

